<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".animations.AnimationExampleActivity" />
        <activity android:name=".simple_alert_dialog_with_list.SimpleAlertDialogActivity" />
        <activity android:name=".animations.SecondActivity" />
        <activity android:name=".animations.FirstImageActivity" />
        <activity android:name=".animations.SecondImageActivity" />
        <activity android:name=".data_passing_between_single_activity_to_multiple_fragments.TempActivity" />
        <activity android:name=".kotlin.KotlinActivityOne" />
        <activity android:name=".kotlin.KotlinActivityTwo" />
        <activity
            android:name=".kotlin.SearchToBackAnimationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>